navbar {
    display: flex;
}

a.navbar-item, a.is-active {
    color: #666!important
}

#port-logo {
    background: none!important
}

[v-cloak] { display: none; }


.navbar-brand a {
    margin: 50px 0px 0px 25px;
    padding: 0;
}

.navbar-burger {
    margin: 65px 45px 0px 40px;
}

.menu {
    padding: 0px 40px;
}

.menu-list li {
    display: inline-block;
}

.menu-list a {
    display: inline-block;
}

.menu-link {
    color: #666;
    text-decoration: none;
    margin-right: 120px;
}

.menu-link::after {
    margin-top: 4px;
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #000;
    transition: width .3s;
}

.menu-link:hover::after {
    width: 100%;
}

.active::after {
    margin-top: 4px;
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background: #000;
}

.menu-divider {
    content: "";
    height: 16px;
}

.contact-icons {
    padding-left: 10px;
}

.contact-icons a {
    display: inline-block;
    color: #666;
}

.contact-icon {
    padding: 3px;
}

.description {
    padding: 16px 0px;
    margin: 16px 0px;
}

.logo-slogan {
    -webkit-flex: 1 100%;
    -moz-flex: 1 100%;
    -ms-flex: 1 100%;
    flex: 1 100%;
    justify-content: space-between;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}