
@import "~bulma/sass/utilities/initial-variables";
@import url("https://cdnjs.cloudflare.com/ajax/libs/medium-editor/5.22.1/css/medium-editor.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/medium-editor/5.22.1/css/themes/beagle.css");

$navbar-item-img-max-height: 7rem;
$menu-item-hover-background-color: none;
$navbar-item-active-background-color: none;

@import '~bulma/bulma';
@import '../css/icons.css';
@import '../css/bootstrap.css';
@import '../css/app.css';

// // Fonts
// @import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// // Variables
// @import "variables";

// // Bootstrap
// @import '~bootstrap/scss/bootstrap';

// .navbar-laravel {
//   background-color: #fff;
//   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
// }
